.btn {
    padding: 10px;
    border: 0 solid;
    border-radius: 10px;
    color: #eaeaea;
    font-size: 1.2em;
}

.btn-default {
    background-color: #666;
}
.btn-success {
    background-color: #03b309;
}
.btn-error {
    background-color: #e23e32;
}
.btn-warning {
    background-color: #edba0d;
}
.btn-info {
    background-color: #2b8ad2;
}
.btn:hover {
    cursor: pointer;
}
