.toast_container {
    padding-top: 1rem;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 30vw;
}
.toast {
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    max-width: 90%;
    word-break: break-word;

    color: #fff;
    border-radius: 5px;
    transition: 1s;
}

.toast .title {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toast .description {
    margin: 0;
}

.close {
    float: right;
    background: none;
    border: none;
    color: #333333;
    font-size: 20px;
    cursor: pointer;
}

.toast .close:before {
    content: " \00D7";
}
.success {
    background-color: #03b309;
}
.warning {
    background-color: #edba0d;
}
.error {
    background-color: #e23e32;
}
.info {
    background-color: #2b8ad2;
}

.top_right {
    top: 0;
    right: 0.5rem;
    animation: toast-in-right .7s;
}
.bottom_right {
    bottom: 0;
    right: 0.5rem;
    animation: toast-in-right .7s;
}
.top_left {
    top: 0;
    left: 0.5rem;
    animation: toast-in-left .7s;
}
.bottom_left {
    bottom: 0;
    left: 0.5rem;
    animation: toast-in-left .7s;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}