.toast_container {
    padding-top: 1rem;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 20%;
}

.toast {
    padding: 0.5rem 1rem;
    margin: 1rem;

    max-width: 100%;
    word-break: break-word;

    color: #fff;
    border-radius: 5px;
    transition: 1s ease-in;
}

/*frozen component*/
/*.progress_bar {*/
/*    background-color: #c5c4c4;*/
/*    height: 0.2rem;*/
/*    position: relative;*/
/*    bottom: -0.5rem;*/
/*    animation: progressBar 3000ms;*/
/*    transition: width 2s;*/
/*}*/

.title {
    margin: 0;
    font-weight: bold;

    font-size: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.description {
    margin: 0;
}
.close {
    float: right;
    background: none;
    border: none;
    color: #333333;
    font-size: 20px;
    cursor: pointer;
}
.close:before {
    content: " \00D7";
}
.success {
    background-color: #03b309;
}
.warning {
    background-color: #edba0d;
}
.error {
    background-color: #e23e32;
}
.info {
    background-color: #2b8ad2;
}

.top_right {
    top: 0;
    right: 0.5rem;
    animation: toast-in-right .7s;
}
.top_center:not(.toast) {
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}
.top_center {
    animation: toast-in-top .7s;
}
.top_left {
    top: 0;
    left: 0.5rem;
    animation: toast-in-left .7s;
}
.bottom_right {
    bottom: 0;
    right: 0.5rem;
    animation: toast-in-right .7s;
}
.bottom_left {
    bottom: 0;
    left: 0.5rem;
    animation: toast-in-left .7s;
}
.bottom_center:not(.toast) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bottom_center {
    animation: toast-in-bottom .7s;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes toast-in-top {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes toast-in-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes progressBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}